/* GENERAL STYLE */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Utility */
body {
background-color: #083b4c;
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}


.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.box-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.box {
    width: 120px;
    height: 120px;
    margin: 10px;
    background-color: #1389b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
background-color: red
}